<div class="row justify-content-center">
  <img src="/images/three-cars.png" class="img-fluid" alt="Main Logo">
</div>
<nav class="navbar navbar-expand-lg navbar-light rounded" style="background-color: #A8C5C5">
  <img class="navbar-brand" src="/images/flag-car-logo.png" class="img-fluid" alt="RL">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/services">Services</a>
      <a class="nav-item nav-link" href="/classifieds">Classifieds</a>
      <a class="nav-item nav-link disabled" href="/links">Links</a>
      <a class="nav-item nav-link disabled" href="/favourites">Favourites</a>
    </div>
  </div>
  <div class="form-inline my-2 my-lg-0">
    <input id="search-input" class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
    <button id="search-button" class="btn btn-primary my-2 my-sm-0" type="button">Search</button>
    <a class="nav-item nav-link" href="/search">Advanced Search</a>
  </div>
</nav>