<div class="row">
  <div class="col-6 order-3 col-sm-4 order-sm-3 col-lg-3 order-lg-1 pl-lg-5 pt-2">
    <div class="pg-prev pg-link d-inline mr-1">Prev</div>|
    <div class="pg-next pg-link d-inline">Next</div>
  </div>
  <div class="col-12 order-1 col-lg-5 order-lg-4 d-flex justify-content-center pt-2">
    <div class="pg-items d-inline">
      Viewing items
      <span class="pg-item-start"></span>
      to
      <span class="pg-item-end"></span>
      of
      <span class="pg-item-total"></span>
      results
    </div>
  </div>
  <div class="col-12 order-9 col-sm-4 order-sm-6 col-lg-2 order-lg-8 pt-2 d-flex justify-content-center">
    <select class="float-right" name="pg-order" id="orderby-select"></select>
  </div>
  <div class="col-6 order-6 col-sm-4 order-sm-9 col-lg-2 order-lg-10 pr-lg-5 pt-2">
    <div class="float-right">
      <div class="pg-15 pg-link d-inline mr-1">15</div>|
      <div class="pg-30 pg-link d-inline mr-1">30</div>|
      <div class="pg-60 pg-link d-inline">60</div>
    </div>
  </div>
</div>
