<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <title> <%= title %> </title>
</head>
<body class="container">
  <header>
      <% include ../partials/header %>
  </header>

  <main>
    <div class="row justify-content-center my-4">
      <div class="col-12 col-lg-10 mx-3 text-center shadow-lg">
          This is your Home page..  A brief introduction and some other stuff?? Will let you decide what content you want.
          I guess we will want an English and a French version.. Have a button somewhere to change between.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat rutrum eleifend. Nam condimentum id nisi a commodo. Duis aliquam commodo leo in mollis.
          Aliquam eu lorem imperdiet, vehicula urna a, aliquam urna. Aliquam vulputate, tellus vitae rhoncus volutpat, nulla risus luctus orci, eu bibendum massa
          magna non purus. Sed at pulvinar mi. Maecenas vel purus pharetra, pulvinar libero in, sagittis ligula. Suspendisse potenti. Mauris vestibulum ultricies
          lacinia. Morbi vitae tellus arcu.

          Nullam volutpat lacus nec pellentesque accumsan. Nulla suscipit, nisi sed scelerisque facilisis, felis ligula pretium erat, eget sodales risus sem ac elit.
          Donec sem tortor, tincidunt a aliquam quis, molestie nec metus. Quisque egestas orci eu dolor molestie, ac fermentum augue posuere. Suspendisse et elementum
          est. Nullam placerat, nulla at vulputate facilisis, elit nulla vestibulum nunc, at vehicula velit dui nec mi. Nunc tincidunt velit massa, at sagittis nunc
          ultrices at. Donec orci ex, laoreet nec placerat ut, rhoncus sed enim. Mauris lacinia vitae lorem ut porta.

          Phasellus non nunc sit amet erat laoreet gravida. Praesent dictum sit amet ante vitae maximus. Suspendisse dictum nulla sit amet ultricies facilisis.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec blandit pharetra dapibus. Fusce a pulvinar purus.
          Etiam id justo varius, mollis augue id, tincidunt neque. Pellentesque id aliquet nunc.

          Phasellus fringilla efficitur lacus, eu viverra turpis fermentum id. Donec ornare felis id congue fringilla. Proin nec malesuada libero. Quisque
          convallis euismod ullamcorper. Aliquam facilisis, tellus a malesuada consequat, massa arcu consequat velit, sit amet facilisis eros nisl et magna. Maecenas
          tempor laoreet lorem non consequat. In at tellus ante. Donec aliquet congue tortor, a pellentesque turpis posuere ut. Curabitur hendrerit pellentesque
          eros sit amet viverra. Maecenas eleifend arcu non facilisis scelerisque. Ut tincidunt mollis imperdiet.
      </div>
    </div>
  </main>

  <footer>
      <% include ../partials/footer %>
  </footer>
</body>
</html>