<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <title> <%= title %> - Services</title>
</head>
<body class="container">
  <header>
      <% include ../partials/header %>
  </header>

  <main>
    <div class="row justify-content-center my-4">
      <div class="col-12 col-lg-10 mx-3 text-center shadow-lg">
          You will have to provide me with all the content. Then we can create Services page!!
          I am guessing this is the stuff about what you provide, i.e. all the checks on the car as well as shipping offers.

          Nullam volutpat lacus nec pellentesque accumsan. Nulla suscipit, nisi sed scelerisque facilisis, felis ligula pretium erat, eget sodales risus sem ac elit.
          Donec sem tortor, tincidunt a aliquam quis, molestie nec metus. Quisque egestas orci eu dolor molestie, ac fermentum augue posuere. Suspendisse et elementum
          est. Nullam placerat, nulla at vulputate facilisis, elit nulla vestibulum nunc, at vehicula velit dui nec mi. Nunc tincidunt velit massa, at sagittis nunc
          ultrices at. Donec orci ex, laoreet nec placerat ut, rhoncus sed enim. Mauris lacinia vitae lorem ut porta.

          Phasellus non nunc sit amet erat laoreet gravida. Praesent dictum sit amet ante vitae maximus. Suspendisse dictum nulla sit amet ultricies facilisis.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec blandit pharetra dapibus. Fusce a pulvinar purus.
          Etiam id justo varius, mollis augue id, tincidunt neque. Pellentesque id aliquet nunc.

          Phasellus fringilla efficitur lacus, eu viverra turpis fermentum id. Donec ornare felis id congue fringilla. Proin nec malesuada libero. Quisque
          convallis euismod ullamcorper. Aliquam facilisis, tellus a malesuada consequat, massa arcu consequat velit, sit amet facilisis eros nisl et magna. Maecenas
          tempor laoreet lorem non consequat. In at tellus ante. Donec aliquet congue tortor, a pellentesque turpis posuere ut. Curabitur hendrerit pellentesque
          eros sit amet viverra. Maecenas eleifend arcu non facilisis scelerisque. Ut tincidunt mollis imperdiet.
      </div>
    </div>
  </main>

  <footer>
      <% include ../partials/footer %>
  </footer>
</body>
</html>